@import 'shared';

.subsidiary_details {
  margin: 20px 20% 50px 20%;
}

.subsidiary_details_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgba(60,60,60,0.6), rgba(60,60,60,0.6));
  font-weight: bolder;
  font-size: 1.5rem;
}

.custom-button {
  color: #fff;
  background-color: $custom-pink;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: $custom-pink-hover;
  }
}

