<div class="form-inline my-2 my-lg-0 ml-auto">
  <%= form_with url: search_subsidiaries_path, method: :get, local: true do |f| %>
    <%= f.label :q, 'Busca de filiais' %>
    <%= f.text_field :q, class: "form-control mr-sm-2" %>
    <%= f.submit t('.submit'), class: "btn btn-custom my-2 my-sm-0" %>
  <% end %>
</div>
