<% if @subsidiaries.empty? %>
  <h2>Nenhuma filial encontrada</h2>
<% else %>
  <% @subsidiaries.each do |subsidiary| %>
    <div>
      <h2><%= link_to subsidiary.name, subsidiary_path(subsidiary.id) %></h2>
      <li><%= subsidiary.address %></li>
    </div>
  <% end %>
<% end %>
