<h1> Unidade <%= @subsidiary.name %> </h1>

<dl>
  <dt>Endereço:  </dt>
  <dd><%= @subsidiary.address %></dd>
  <dt>CEP</dt>
  <dd><%= @subsidiary.cep %></dd>
</dl>

<% if !current_client.present? || !current_client.enrolls.present? %>
  <%= link_to t('.enroll_now'), new_subsidiary_enroll_path(@subsidiary.id) %>
<% end %>