<h1> Unidade <%= @subsidiary.name %> </h1>

<dl>
  <dt>Endereço:  </dt>
  <dd><%= @subsidiary.address %></dd>
  <dt>CEP</dt>
  <dd><%= @subsidiary.cep %></dd>
</dl>

<%= link_to 'Matricule-se agora', new_subsidiary_enroll_path(@subsidiary.id) %>