<% if @subsidiaries.empty? %>
  <h1>Nenhuma filial encontrada</h1>
<% else %>
  <% @subsidiaries.each do |subsidiary| %>
    <h1><%= subsidiary.name %></h1>
    <%= subsidiary.address %><br>
    <%= subsidiary.cep %>
  <% end %>
<% end %>