<%= link_to 'Novo horário', new_appointment_path %>

<% if @appointments.empty? %>
  <div id = "appointments_list">
    Nenhuma atividade agendada
  </div>
<% end %>

<% @appointments.each do | appointment | %>
  <%=  l(appointment.appointment_date, format: :default) %>
  <%= link_to 'Detalhes', appointment %>
<% end %>

